<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">X Anketi için yapılan yorumlar</div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>GunaySukru</strong> <span class="text-muted">15.05.2017</span>
                        </div>
                        <div class="panel-body">
                            Test - Test
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" data-dismiss="modal">Çık</button>
        </div>
    </div>
</div>